.nav_bar
    .nav_switch

    span.nav_name_tag=navigation.data.name

    .nav_status_box
        p.nav_status_text=`${navigation.data.availability ? 'Available to work since' : 'Available to work from'}`
            span="15th September"
        .nav_profile_media
            img.nav_profile_media_image(alt=profile.data.profile_picture.alt, data-src=profile.data.profile_picture.url)