extends ../base.pug

block variables
    - var template = 'about'

block content
    .about

        .about_wrapper
            .about_main
                .about_main_content
                    .about_main_content_media
                        img.about_main_content_media_image(alt=profile.data.profile_picture.alt, src=profile.data.profile_picture.url)

                    h2.about_main_content_name="Odigbo Kelechi Paul"
                    
                    p.about_main_content_bio=about.data.intro

                .about_main_button
                    span="Walk with me"

            .about_roadmap
                .about_roadmap_steps

                each info in about.data.body
                    .about_roadmap_info(class=`${info.primary.position === 'right' ? 'right' : 'left'}`)
                        .about_roadmap_info_wrapper
                            .about_roadmap_badge

                            p.about_roadmap_info_text=info.primary.fact
        

        include ./../shared/footer
