extends ../base.pug

block variables
    - var template = 'about'

block content
    .about
        .nav_bar
            .nav_switch

            span.home_name_tag=navigation.data.name

            .nav_status_box
                p.nav_status_text=`${navigation.data.availability ? 'Available to work since' : 'Available to work from'}`
                    span="15th September"
                .nav_profile_media
                    img.nav_profile_media_image(alt=profile.data.profile_picture.alt, data-src=profile.data.profile_picture.url)

        .about_wrapper
            .about_main
                .about_main_content
                    .about_main_content_media
                        img.about_main_content_media_image(alt=profile.data.profile_picture.alt, src=profile.data.profile_picture.url)

                    h2.about_main_content_name="Odigbo Kelechi Paul"
                    
                    p.about_main_content_bio=about.data.intro

                .about_main_button
                    span="Walk with me"

            .about_roadmap
                .about_roadmap_steps

                each info in about.data.body
                    .about_roadmap_info(class=`${info.primary.position === 'right' ? 'right' : 'left'}`)
                        .about_roadmap_badge

                        p.about_roadmap_info_text=info.primary.fact
        

        .footer
            .footer_content
                h3.footer_content_title="Let's talk"

                p.footer_content_desc="I love to create impactful experiences which your users would love"

            .footer_socials
                - for (const social in socials.data)
                    .footer_social
                        .footer_social_icon
                        
                        span=socials.data[social].link
