extends ../base.pug

block variables
    - var template = 'detail'

block content
    .details

        .details_wrapper
            .details_content
                h2.details_content_title=project.data.title

                .details_content_media
                    img.details_content_media_image(alt=project.data.image.alt, src=project.data.image.url)

                p.details_desc=project.data.description

            .details_details
                each detail in project.data.details
                    - for (const key in detail)
                        .details_detail
                            span.details_detail_title=key

                            p.details_detail_desc=detail[key]

        include ./../shared/footer
