extends ../base.pug

block variables
    - var template = 'home'

block content
    .home
        .home_wrapper
            .home_hero
                .home_hero_wrapper
                    .home_hero_media
                        img.home_hero_media_image(alt=home.data.hero_image.alt, src=home.data.hero_image.url)

                    .home_hero_blur

                    .home_hero_text_wrapper
                        p.home_hero_text=home.data.hero_text
                .home_hero_button
                    p.home_hero_button_text="Check out my works"

            .home_works
                .home_works_wrapper
                    each project in projects
                        .home_works_slider
                                .home_works_slider_media
                                    img.home_works_slider_media_image(alt=project.data.image.alt, src=project.data.image.url)

                //- .home_works_slider_next
                        
                .home_works_title
                    span.home_works_title_text=projects[0].data.title


